body {
	font-family: 'Open sans';
	width: 100vw;
	height: 100vh;
	margin: 0px;
	background-color: #B83D60;
}

h3 {
	margin: 0px;
	position: absolute;
}

.width {
	width: 90vw;
	text-align: center;
	margin: 0px auto;
	margin-left: 5vw;
}

.height {
	width: 90vh;
	text-align: center;
	margin: 0px auto;
}

.top {
	top: 2%;

	-webkit-transform: rotate( 180deg ); /* Chrome, Safari, Opera */
	-ms-transform: rotate( 180deg ); /* IE 9 */
	transform: rotate( 180deg );
}

.bottom {
	bottom: 2%;
}

.left {
	top: 50%;
	left: -20%;

	-webkit-transform: rotate( 90deg ); /* Chrome, Safari, Opera */
	-ms-transform: rotate( 90deg ); /* IE 9 */
	transform: rotate( 90deg );
}

.right {
	top: 50%;
	right: -20%;

	-webkit-transform: rotate( 270deg ); /* Chrome, Safari, Opera */
	-ms-transform: rotate( 270deg ); /* IE 9 */
	transform: rotate( 270deg );
}